@import url(https://fonts.googleapis.com/css?family=Asap:400,700&subset=latin,latin-ext);

*, html, body {
  font-family: 'Asap', sans-serif;
  color: #333;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: url('../img/bg.png');
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.header {
  position: relative;
  background: url('../img/header-bg.jpg') center top no-repeat;
  background-size: 100%;
  height: 300px;
  border-bottom: 4px solid #FBB03B;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);;
  z-index: 10;
}

.header > .content {
  padding-top: 30px;
}

section.main {
  background: #fff;
  padding: 10px;
}

section.main > h1 {
   font-size: 26px;
}

.content {
  margin: 0 auto;
  width: 1000px;
}

.main {
  position: relative;
}

.logo {
  background: url('../img/logo.png') center no-repeat;
  height: 180px;
  width: 160px;
  float: left;
  text-indent: -9999px;
}

.tagline {
  float: left;
  font-size: 88px;
  font-weight: bold;
  text-shadow: 0px 0px 6px #333;
  color: #FBB03B;
  margin-top: 50px;
  margin-left: 20px;
}

.tagline small {
  color: #FBB03B;
  font-size: 28px;
}

/* NAVIGATION */

.header .navigation {
  position: absolute;
  bottom: 0;
}

nav {
  display: block;
  width: 100%;
  background: rgba(255,255,255,0.8);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: block;
  float: left;
}

nav ul li.admin-login {
  float: right;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  color: #333;
  border-radius: 3px;
}

nav ul li a:hover {
  background: #fff;
  box-shadow: 0px 0px 3px #ccc;
}

/* end of NAVIGATION */

/* MAIN */

.main .about h1 {
   margin: 10px 0;
}

.main .about p {
   padding: 10px;
}

/* end of MAIN */

/* DESTINATIONS */

.destinations .destination {
  float: left;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  width: 220px;
}

.destinations .destination h1 {
  text-align: center;
  margin: 5px 0;
}

.destinations .destination .see-more {
  display: block;
  font-size: 14px;
  text-decoration: underline;
  color: rgb(25, 132, 158);
  text-align: right;
  margin-top: 5px;
}

.admin-destinations .destination .destination-price,
.single-destination .destination-price,
.destinations .destination .destination-price {
   color: rgb(189, 52, 52);
   font-weight: bold;
   font-size: 13px;
}

.single-destination .destination-price {
   font-size: 16px;
   margin: 5px 0;
}

.destinations .destination .destination-price {
   text-align: right;
}

.destinations .destination .see-more:hover {
  color: #FBB03B;
}

.destinations .destination .destination-image img {
  border-radius: 5px;
}

.single-destination {
   padding: 10px;
}

.single-destination h1 {
   font-size: 30px;
   margin-bottom: 20px;
}

.single-destination img {
   float: right;
   border-radius: 10px;
   border: 5px solid #f7f7f7;
}

.single-destination a,
input[type="submit"] {
   display: inline-block;
   border: 0;
   margin: 10px 0;
   font-size: 14px;
   color: #fff;
   padding: 5px 10px;
   border-radius: 3px;
   background: rgb(25, 132, 158);
}

.date {
   margin-bottom: 10px;
   font-style: italic;
}

.destination .date {
   text-align: center;
   color: #888;
}

.date time {
   font-size: 14px;
   color: #888;
}

.search input {
   vertical-align: middle;
}

.search input[type="text"] {
   padding: 3px 5px;
}

.bold {
   font-weight: bold !important;
}

/* end of DESTINATIONS */

/* FORM FIELDS */

.form-field {
   margin: 10px 0;
}

.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"] {
   padding: 3px 5px;
   width: 300px;
}

.form-field label {
   display: block;
}

.form-field textarea {
   padding: 3px 5px;
   width: 500px;
   min-height: 100px;
}

/* end of FORM FIELDS */

/* ADMIN */

.admin-submenu {
   list-style-type: none;
   margin: 10px 0;
   padding: 0;
}

.admin-submenu li {
   float: left;
}

.admin-submenu li a {
   display: inline-block;
   border: 0;
   margin: 0 5px;
   font-size: 14px;
   color: #fff;
   padding: 5px 10px;
   border-radius: 3px;
   background: rgb(25, 132, 158);
}

.admin-destinations .destination {
   margin: 10px 0;
}

.admin-destinations .destination h1 * {
   color: #666;
   font-weight: normal;
}

.admin-destinations .destination a {
   font-size: 14px;
   display: inline-block;
   margin: 3px 5px 0 0;
   text-decoration: underline;
   color: rgb(25, 132, 158);
}

.reservations ol {
   margin: 10px 0;
   padding: 0 0 0 20px;
}

.reservations ol li a {
   display: inline-block;
   font-size: 14px;
   padding: 5px 0;
   text-decoration: underline;
   color: rgb(25, 132, 158);
}

/* end of ADMIN */

/* FOOTER */

.footer .content {
   padding: 10px;
   text-align: center;
}

/* end of FOOTER */

/* PAGINATION */

.pagination {
   text-align: center;
}

.pagination ul {
   display: inline-block;
   list-style-type: none;
   margin: 10px 0;
   padding: 0;
}

.pagination ul li {
   float: left;
}

.pagination ul li a {
   display: inline-block;
   padding: 5px 10px;
}

/* end of PAGINATION */

.notice {
   margin: 5px 0;
   font-style: italic;
   color: rgb(25, 132, 158);
   font-size: 18px;
}

.contact-map {
   float: right;
}

/* CLEARFIX */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* end of CLEARFIX */
